<header>
    <div class="navbar">
        <div class="nav-brand"><img src="/images/favicon.ico" alt="logo"></div>
        <a href="/">
            <div class="nav-items">Home</div>
        </a>
    </div>
</header>